<html lang="en">

  <head>

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Bootstrap Login Form Template</title>

      <!-- CSS -->
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
      <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
      <link rel="stylesheet" href="assets/css/form-elements.css">
      <link rel="stylesheet" href="assets/css/style.css">

     

      <!-- Favicon and touch icons -->
      <link rel="shortcut icon" href="assets/ico/favicon.png">
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
      <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

  </head>

  <body>

  <div class="top-content">
    <div class="inner-bg">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-2 text" >    
                <h2 style="color:white"><strong >Registration Form</strong> </h2>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-2 form-box">
                <div class="form-top">
                  <div class="form-top-left">
                    <h3>SignUp to our site</h3>
                    <p>Enter your Email and Password to Register:</p>
                  </div>
                  <div class="form-top-right">
                    <i class="fa fa-key"></i>
                  </div>
                </div>
                <div class="form-bottom">

              <form  role="form"  #userRegistrationForm="ngForm">
                  <div class="row">
                      <div class="input-field col s8">
                        <i class="material-icons prefix">account_circle</i>
                        <label>Email address</label>
                        <input class="form-control" type="email" name="email" #Email="ngModel" [(ngModel)]="user.email">

                        </div>
                  </div>
                  <div class="row">
                      <div class="input-field col s8">
                        <i class="material-icons prefix">vpn_key</i>
                        <label>Password</label>
                        <input class="form-control" type="password" name="password" #Password="ngModel"[(ngModel)]="user.password" required minlength="3">
                        <label class="error">{{errorMessage}}</label>
                        <label class="success">{{successMessage}}</label>
                        </div>
                  </div>
                  <div class="row">
                      <div class="input-field col s12">
                          <button [disabled]="!userRegistrationForm.valid" (click)="tryRegister(value)"
                          class="btn-large btn-submit" type="submit">Submit</button>
                        </div>
                      </div>
      
                    </form>
                  </div>
                </div>
              </div>
                
                  
                
      </div>
    </div>
  </div>
  <script src="assets/js/jquery-1.11.1.min.js"></script>
         <script src="assets/bootstrap/js/bootstrap.min.js"></script>
         <script src="assets/js/jquery.backstretch.min.js"></script>
         <script src="assets/js/scripts.js"></script>
         
         <!--[if lt IE 10]>
             <script src="assets/js/placeholder.js"></script>
         <![endif]-->
 
     </body>
 
 </html>
 
